<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @music.title %></h5>
    <p class="card-text"><strong>Composer:</strong> <%= @music.composer %></p>
    <p class="card-text"><strong>Style:</strong> <%= @music.style %></p>
    <p class="card-text"><strong>Arranger:</strong> <%= @music.arranger.presence || '-' %></p>
    <p class="card-text"><strong>Status:</strong> <%= @music.status %></p>
  </div>
</div>
<div class="actions">
  <%= link_to t('.edit', default: 'Edit'), edit_web_music_path(@music), class: 'btn btn-warning' %>
  <%= link_to t('.back', default: 'Back'), web_musics_path, class: 'btn btn-secondary' %>
</div>